<div class="products-downloads">
  <div class="products-downloads-title">
    <div class="prd-orange-separator"></div>
    <h2>DOWNLOADS</h2>
    <span>Lorem ipsum del ollar mes tu olloranga.</span>
  </div>
  <div class="products-downloads-cnt container">
    <div class="row">
      <div class="products-downloads-sec col">
        <img src="../assets/images/A-logo.png" alt="">
        <p>SOFTWARE & FIRMWARE DOWNLOAD</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <a href="#">+ VIEW +</a>
      </div>
    </div>
  </div>
</div>
