<div class="section-title-block py-5">
    <div class="container">
        <h1 class="section-title text-center">{{fields.section_title}}</h1>
        {% if fields.section_subtitle %}
        <p class="section-subtitle text-center">{{fields.section_subtitle}}</p>
        {% endif %}
    </div>    
</div>