<div class="support-questions">
  <div class="sup-title">
      <h2>QUESTIONS?</h2>
      <p>Get in touch with us with two methods for the quickest response. </p>
  </div>
  <div class="fb-call-sec container">
    <div class="row">
      <div class="messenger-sec col-md-6">
        <img src="../app/themes/accufire/assets/images/messenger-icon.png">
        <p>FACEBOOK MESSENGER</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
        <a href="#">+ CONTACT US +</a>
      </div>
      <div class="phone-sec col-md-6">
        <p>833-437-2673</p>
        <p>CALL US</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. ut laoreet dolore magna aliquam.</p></div>
    </div>
  </div>
</div>
