<div class="support-downloads">
  <div class="dl-title">
    <div class="dl-orange-separator"></div>
    <h2>DOWNLOADS</h2>
    <span>Lorem ipsum del ollar mes tu olloranga.</span>
  </div>
  <div class="sw-fw-sec container">
    <div class="row">
      <div class="sw-sec col-md-6 col-md-offset-2">
        <img src="../app/themes/accufire/assets/images/A-logo.png" alt="">
        <p>SOFTWARE DOWNLOAD</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
        <a href="#">+ DOWNLOAD +</a>
      </div>
      <div class="fw-sec col-md-6">
        <img src="../app/themes/accufire/assets/images/chip-logo.png" alt="">
        <p>FIRMWARE UPDATE</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
        <a href="#">+ DOWNLOAD +</a>
      </div>
    </div>
  </div>
</div>
