<div class="support-documentation">
  <div class="sup-doc-title">
    <h2>DOCUMENTATION</h2>
    <p>Lorem ipsum del ollar mes tu olloranga.</p>
  </div>
  <div class="sup-doc-cnt container">
    <div class="sup-doc-rw row">
      <div class="sup-doc-txt col-md-6"><span>Documentation title here   <span>//</span>   Updated: JUN 12, 2020</span></div>
      <div class="sup-doc-btn col-md-6"><a href="#">+ DOWNLOAD +</a></div>
    </div>
    <div class="sup-doc-rw row">
      <div class="sup-doc-txt col-md-6"><span>Documentation title here   <span>//</span>   Updated: JUN 12, 2020</span></div>
      <div class="sup-doc-btn col-md-6"><a href="#">+ DOWNLOAD +</a></div>
    </div>
    <div class="sup-doc-rw row">
      <div class="sup-doc-txt col-md-6"><span>Documentation title here   <span>//</span>   Updated: JUN 12, 2020</span></div>
      <div class="sup-doc-btn col-md-6"><a href="#">+ DOWNLOAD +</a></div>
    </div>
    <div class="sup-doc-rw row">
      <div class="sup-doc-txt col-md-6"><span>Documentation title here   <span>//</span>   Updated: JUN 12, 2020</span></div>
      <div class="sup-doc-btn col-md-6"><a href="#">+ DOWNLOAD +</a></div>
    </div>

  </div>
</div>
