<div class="testimonials">
  <div class="testimonials__content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="testimonials__content-title-wrapper">
            <img class="testimonials__content-misc" src="{{ theme.link }}/assets/images/testimonials-misc.svg" alt="">
            <p class="testimonials__content-subtitle">Testimonials</p>
            <h2 class="testimonials__content-title">What People are Saying</h2>
          </div>
        </div>
        <div class="col">
          {% include "blocks/testimonials-carousel.twig" %}
        </div>
      </div>
    </div>
  </div>
</div>